<h3>This is my amazing website</h3>



{% for number in NUMBERS %}

        <h1>{{number}}</h1>
        {% endfor %}

My name is {{PERSON['name']}} and I work as an {{PERSON['profession']}}

{{ WORDS[0]}}