{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <div class="row">
    <form method='POST'>

        <div class="input-field col s6">
              <input name='name' placeholder="Enter name" id="name" type="text" class="validate" value="{{LIST.name}}">
                <label for="name">Update Name</label>
            </div>

         <div class="input-field col s6">
              <input name='quantity' placeholder="Enter quantity" id="quantity" type="number" class="validate" value="{{LIST.quantity}}">
              <label for="quantity">Update Quantity</label>
            </div>

         <div class="input-field col s6">
              <input name='price' placeholder="Enter price" id="price" type="number" class="validate" value="{{LIST.price}}">
              <label for="price">Update Price</label>
            </div>

          <div class='col s6'>
              <button class="btn waves-effect waves-light" type="submit" name="action">Save
                <i class="material-icons right">create</i>
            </button>
            </div>
        </form>
        </div>
</div>
{% endblock %}