{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <center><head><h3>Products</h3></head></center>
    <div class="row">

    <form method='GET'>
    <div class="input-field col s6">
        <input name='product' id="name" type="text" class="validate">
         <label for="name">Search</label>
        </div>

    <div class='col s6'>
      <button class="btn waves-effect waves-light" type="submit" >Search
        <i class="material-icons right">search</i>
      </button>
     </div>
     </form>
    </div>




    <div class="row">
        <table>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Delete</th>
            <th>Modify</th>
            </tr>

            {% for products in LIST %}
            <tr>
                <td>{{ products.id }}</td>
               <td>{{ products.name }}</td>
               <td>{{ products.quantity }}</td>
               <td>{{ products.price }}</td>
               <td>
                  <a href = "{{ url_for('.delete',id=products.id)}}">Delete {{products.name}}</a>
                </td>
                <td>
                    <a href = "{{ url_for('.update',id=products.id)}}">Update </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>


    <div class='row'></div>



    <div class="row">
    <form method='POST'>

        <div class="input-field col s6">
              <input name='name' placeholder="Enter name" id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>

         <div class="input-field col s6">
              <input name='quantity' placeholder="Enter quantity" id="quantity" type="number" class="validate">
              <label for="quantity">Quantity</label>
            </div>

         <div class="input-field col s6">
              <input name='price' placeholder="Enter price" id="price" type="number" class="validate">
              <label for="price">Price</label>
            </div>

          <div class='col s6'>
              <button class="btn waves-effect waves-light" type="submit" name="action">Create
                <i class="material-icons right">create</i>
            </button>
            </div>
        </form>
        </div>

</div>
{% endblock %}

