{% extends 'base.html' %}
{% block content %}
<table>
  <tr>
    <th>NAME</th>
    <th>CITY</th>
    <th>PROFFESION</th>
    </tr>
    {% for Person in PEOPLE %}
    <tr>
    <td>{{Person.name}}</td>
    <td>{{Person.city}}</td>
    <td>{{Person.proffesion}}</td>
  </tr>
    {% endfor %}
</table>
{% endblock %}




