{% extends 'base.html' %}

{% block content %}

<div class='container'>

<form method='POST'>
    <div class="input-field col s6">
          <input name='task_name' placeholder="Placeholder" id="task_name" type="text" class="validate">
            <label for="task_name">Task Name</label>
        </div>

     <div class="input-field col s6">
          <input name='duration' placeholder="Placeholder" id="duration" type="number" class="validate">
          <label for="duration">Duration</label>
        </div>

     <div class="input-field col s6">
          <input name='location' placeholder="Placeholder" id="location" type="text" class="validate">
          <label for="location">Location</label>
<center>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d395585.95686611725!2d-72.5718048!3d41.0633478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e898efe4980fcb%3A0xc79a42fd1058b6f7!2sSunset%20Beach%20Hotel!5e1!3m2!1sen!2s!4v1588347650769!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</center>
        </div>

        <button type= 'submit'>Search</button>
    </div>
</form>


<center>
{% for thing in TODO %}
    <div class='row'>
        {{ thing.task_name }} {{ thing.duration }} {{ thing.location }}

    </div>
    {% endfor %}

<div class='row divider'></div>
</div>
</center>
{% endblock %}
